body {
  background-color: var(--bg-colour);
  font: $light $body-copy-size/1.5 $font;
  color: var(--text-colour);
  letter-spacing: 1px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

h1 {
  font-size: $h1-size;
  font-weight: $regular;
}
  
a {
  font-size: $links-size;
  color: var(--text-colour);
  font-weight: $semi-bold;
  text-transform: uppercase;
}

button {
  border: none;
  background-color: unset;
  display: inline-block;
  color: var(--text-colour);
}

button.light {
  display: none;
}

.dark-theme {
  button.light {
    display: inline-block;
  }
  button.dark {
    display: none;
  }
}