body {
  background-color: $color-light-grey;
  font: 400 100% $font;
  color: $color-dark-grey;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: $color-teal;
  font-weight: 500;
}

.bodyLink {
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  left: 50px;
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: $color-dark-grey;
    top: 13px;
    left: -50px;
  }
}

.tealColor {
  color: $color-teal;
}

.content {
  padding-top: 22vh;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
}

.title {
  font-size: 3.4rem;
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 70px;
}