body {
  background-color: var(--bg-colour);
  font: $light $body-copy-size/1.5 $font;
  color: var(--text-colour);
  letter-spacing: 1px;
  transition: color 0.5s ease-in-out;
  position: relative;
}

body::before {
  background-image: linear-gradient(0deg, rgba(53, 29, 123, 0.2) 0%, rgba(53, 29, 123, 0.6) 35%, #351d7b 90%);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

h1 {
  font-size: $h1-size;
  font-weight: $regular;
}

p {
  font-size: $body-copy-size;
  line-height: 1.5;
  font-weight: $light;
}
  
a {
  font-size: $links-size;
  color: var(--text-colour);
  font-weight: $semi-bold;
  text-transform: uppercase;
}

a.inline-link {
  font-size: $body-copy-size;
  text-decoration: underline;
  font-weight: unset;
  text-transform: unset;
  cursor: pointer;
}

button {
  border: none;
  background-color: unset;
  display: inline-block;
  color: var(--text-colour);
}

button.light {
  display: none;
}

.sns-links {
  display: flex;
  column-gap: $column-gap;
  margin-top: $section-row-gap;

  a {
    font-size: 20px;
  }
}

.dark-theme {
  animation: changeBgColour 0.5s ease-in-out infinite alternate;

  button.light {
    display: inline-block;
  }
  button.dark {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: $nav-padding 5vw;
  display: flex;
  justify-content: flex-end;

  p {
    font-size: $footer-text-size;
    text-transform: uppercase;
    line-height: 1.5;
  }
}

@keyframes changeBgColour{
  0% {background-image: linear-gradient(0deg, rgba(53,29,123,0.2) 0%, rgba(53,29,123,0.8) 0%, rgb(53, 29, 123) 0%);}
  50% {background-image: linear-gradient(0deg, rgba(53,29,123,0.2) 0%, rgba(53,29,123,0.8) 37%, rgb(53, 29, 123) 100%);}
  100% {background-image: linear-gradient(0deg, rgba(53,29,123,0.2) 100%, rgba(53,29,123,0.8) 100%, rgb(53, 29, 123) 100%);}
}