body {
  font: 400 100% 'Open Sans', sans-serif;
  color: $color-grey;
  letter-spacing: 1.5px;
}

h1 {
  font: 500 1rem 'Quicksand', sans-serif;
  color: $color-teal;
  letter-spacing: 1px;
}

.animated-text {
  font: 600 10rem 'Quicksand', sans-serif;
  color: $color-teal;
  letter-spacing: 6px;
}