///// COLOURS /////
$primary: #532cbf;
$primary-lighter: #d9cdf8;
$primary-dark: #351d7b;

///// FONT(S) /////
$font: 'Prompt', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
///// Modular scale configs: base = 22px; ratio = 1.3
$h2-size: 2.324rem;
$body-copy-size: 1.375rem;
$links-size: 0.814rem;
$footer-text-size: 0.481rem;

///// LAYOUT /////
$nav-padding: 1.788rem;
$block-spacing-from-header: 14.581rem; 
$section-row-gap: 1.788rem;
$column-gap: 1.375rem;

///// ANIMATION TIMING /////
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

:root {
  --bg-colour: #{$primary-lighter};
  --text-colour: #{$primary};
  --link-width: 42px;
  --rectangle-left-pos: 0px
}