.contactMain {
  margin-bottom: 110px;
}

.contactInfo {
  margin: 70px 0;
  p:last-of-type {
    margin-top: 15px;
  }
}

.sns {
  margin-top: 50px;
  li {
  display: inline-block;
    a {
      display: block;
      padding: 0 10px;
      font-size: 1.6rem;
    }
  }
}

form {
  width: 100%;
  padding: 50px 5%;
  margin: 0 auto;
  background-color: $color-dark-grey;
  color: $color-light-grey;
  border-radius: 5px;
  position: relative;
  legend {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    margin: 0 auto 25px auto;
    line-height: 0;
  }
  p {
    font-size: 1rem;
    margin-bottom: 70px;
  }
  input, textarea {
    width: 100%;
    font: 400 1rem 'Prompt', sans-serif;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: transparent;
    border: transparent;
    border-bottom: 3px solid $color-light-grey;
    color: $color-light-grey;
    margin-bottom: 10px;
    &::placeholder {
      opacity: 1;
      color: $color-light-grey;
    }
  }
}

.formBtn {
  all: unset;
  font-size: 1rem;
  border: 3px solid $color-light-grey;
  padding: 13px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.error {
  text-align: left;
  color:#9b0000;
  margin-bottom: 30px;
  visibility: hidden;
}

.tyMsg {
  position: absolute;
  z-index: 5;
  background-color: $color-dark-grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -10px 10px 8px rgba(black, 0.3);
  display: none;
  p {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 100px 60px;
    margin-bottom: initial;
    text-align: center;
  }
}