.contactInfo {
  margin-top: 70px;
  p:last-of-type {
    margin-top: 15px;
  }
}

.sns {
  margin-top: 15px;
  li {
  display: inline-block;
    a {
      display: block;
      padding: 0 10px;
    }
  }
}