main {
  height: 100vh;
  position: relative;
}

#intro {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

.intro-hidden {
  right: 100vw;
  overflow: hidden;
  height: 0;
  padding: unset;
} 