.intro {
  font-weight: 500;
  font-size: 3.4rem;
  height: 95vh;
  padding-top: 25vh;
  p {
    word-break: break-all;
  }
  .greyText {
    color: $color-dark-grey;
  }
  .occupation {
    display: block;
    font-size: 1.3rem;
    line-height: 3;
    color: $color-dark-grey;
  }
}

.indexFooter {
  height: 5vh;
}