.projSiteLink {
  left: 25px;
  text-align: center;
}

.projTechs {
  font-size: 1rem;
  margin: 70px 0 110px 0;
  li {
    padding: 5px 15px;
  }
}

.projImgs {
  margin-bottom: 110px;
  li {
    margin-bottom: 50px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}