.projSiteLink {
  left: 25px;
  text-align: center;
  display: block;
  width: 201px;
  margin: 0 auto;
  &::before {
    left: -20px;
    top: 10px;
  }
}

.projSiteLink:last-of-type {
  margin-top: 10px ;
  &::before {
    left: -40px;
  }
}

.projTechs {
  font-size: 1rem;
  color: $color-teal;
  margin: 70px 0 110px 0;
  li {
    padding: 5px 15px;
  }
}

.projImgs {
  margin-bottom: 110px;
  li {
    margin-bottom: 50px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}