.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0 5%;
  background-color: rgba($color-light-grey, 0.5);
  box-shadow: 0 15px 15px rgba($color-light-grey, 0.5);
  .logo {
    width: 40px;
  }
  nav {
    display: relative;
  }
}

.hamburgerMenu {
  font-size: 2.3rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 3.4px;
    background-color: $color-dark-grey;
    top: 30.2px;
    right: 6px;
  }
}

input[type=checkbox] {
  display: none;
  position: absolute;
}

.dropDownMenu {
  position: absolute;
  right: 5%;
  visibility: hidden;
  z-index: 10;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.8s;
  background-color: $color-light-grey;
  li {
    text-align: right;
    padding: 10px 0 10px 10px;
    a {
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 10px;
    }
  }
}

input[type=checkbox]:checked + ul {
  visibility: initial;
  height: 220px;
  overflow: initial;
  opacity: 1;
  box-shadow: -15px 15px 20px rgba($color-dark-grey, 0.5);
}
