.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: $body-copy-size 5%;

  .logo {
    text-decoration: none;
  }
}