.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: $nav-padding 5vw;

  .logo {
    text-decoration: none;
    line-height: 0;
  }
}

.logo-img {
  height: $body-copy-size;
  width: auto;
}

.logo-name {
  display: none;
  position: relative;
  top: 2px;
  left: 0;
  padding-left: 0.37rem;
  // overflow: hidden;
  // max-width: 0;
  transition: max-width 0.3s;
}

.change-theme-btns {
  display: none;
}

.main-menu {
  display: flex;
  align-items: center;
  column-gap: $column-gap;
}