$project-img-height: 14.581rem;
$project-section-row-gap: 0.626rem;
$project-container-row-gap: 3.021rem;

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.img-container {
  background-color: var(--text-colour);
}

.project-img {
  height: $project-img-height;
  width: 100%;
  object-fit: cover;
}

.project-info {
  margin-top: $project-section-row-gap;
}

.project-container {
  margin-bottom: $project-container-row-gap;
}

#work {
  position: absolute;
  top: 0;
  left: 100vw;
  right: -100vw;
  transition: left 1s $easeInOutCubic, right 1s $easeInOutCubic;
}

#work.work-visible {
  left: 0;
  right: 0;
} 